@using Guessing_Game.Models
@model IEnumerable<City>

@{
    ViewData["Title"] = "Index";
}

<h1>Cities</h1>

<a asp-action="AddCity">
    <button class="btn btn-primary">
        Add City
    </button>
</a>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>City</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach(City item in Model)
        {
            <tr>
                <td>@item.CityId</td>
                <td>@item.CityName</td>
                <td>@((ViewBag.countries as List<Country>).Find(d => d.CountryId == item.CountryId).CountryName)</td>
                <td><a asp-action="Remove" asp-controller="City" asp-route-cityId="@item.CityId">Remove</a></td>
            </tr>
        }
    </tbody>
</table>