@using Guessing_Game.Models
@model Country
@{
    ViewData["Title"] = "AddCountry";
}

<h1>AddCountry</h1>

<form asp-action="AddCountry" method="post">
    <div class="form-group">
        <input asp-for="CountryName"></input>
    </div>
     <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Add" />
    </div>
</form>

