@model Guessing_Game.Models.Person



<div class="row">
    <div class="col-md-3">Person with ID</div>
    <div class="col-md-3">@Model.PersonId</div>
    <div class="col-md-3">@Model.Name</div>
    <div class="col-md-3">Has been deleted</div>
</div>