@using Guessing_Game.Models
@model Guessing_Game.Models.PeopleViewModel

@{
    ViewData["Title"] = "Index";
}

<br></br>


<form method="get" action="/People">
    <label></label>
    <input type="text" label="" name="searchQuery" />
    <input type="submit" value="Search" />
</form>

<br></br>

<form asp-action="Index"  method="post">
    <div class="form-group">
        <input  name="NewName" type="text" placeholder="Name" />
    </div>
    
    <div class="form-group">
        <input  name="NewPhone" type="text" placeholder="Phone number" />
    </div>
    <div class="form-group">
       <select name="CityName" class="form-control" asp-items="ViewBag.Cities" ></select>
    </div>
    <input type="submit" value="Add" class="btn btn-primary" />
</form>


<br></br>



<div class="row" >
    <div class="col-md-1">#</div>
    <div class="col-md-3">Name</div>
    <div class="col-md-3">Phone Number</div>
    <div class="col-md-3">City ID</div>
    <div class="col-md-2">Link to delete</div>
</div>
    <br />
    @foreach(Person item in Model.people)
     {
       <partial name="_PersonItem" model="item"/>

     }






