@using Guessing_Game.Models
@model IEnumerable<Language>
@{
    ViewData["Title"] = "Index";
}

<h1>Languages</h1>

<a asp-action="AddLanguage">
    <button class="btn btn-primary">
        Add language
    </button>
</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Language</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(Language item in Model)
        {
            <tr>
                <td>@item.LanguageId</td>
                <td>@item.LanguageName</td>
                @*<td><a asp-action="Remove" asp-route-country="@item">Remove</a></td>*@
                <td><a asp-action="Remove" asp-controller="Language" asp-route-languageId="@item.LanguageId">Remove</a></td>
            </tr>
        }
    </tbody>
</table>