
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<span>Feel free to contact me:</span>
<hr />
    <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check this and submit</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

