@using Guessing_Game.Models

@{
    ViewData["Title"] = "Index";
}

<h1>Guessing Game</h1>
<span>A number between 1 - 100  has been generated!</span>
<span>Your job is to guess that number!</span>

<form method="post" action="/GuessingGame">
    <label>Your number:</label>
    <input type="number" label="Your number" name="number" />
    <input type="submit" value="check your number" />
</form>

<span>Your job is to guess that number!</span>
@if(ViewBag.Number == ViewBag.Session)
{
    <h1>Congrats! You win!! Secret number was. @ViewBag.Session</h1>
}

@if(ViewBag.Number != ViewBag.Session)
{
    if(ViewBag.Number == "Start game")
    {
        <h4> Just start guessing</h4>
    }
    else
    {
        <h4>Keep guessing</h4>
        <h4>Your number was: @ViewBag.Number </h4>
    }
    
}





