
@{
    ViewData["Title"] = "Doctor";
}

<h1>Welcome to online doctor</h1>
<hr />
<h4>You can now check if you have fever or not and get instant results today!</h4>
<h4>Please enter your current temperature</h4>
<hr />

<form method="post" action="/FeverCheck">
    <label>Your temperature</label>
    <input type="number" label="Your temperature" name="temp" />
    <input type="submit" value="Check" />
</form>



