@using Guessing_Game.Models

@{
    ViewData["Title"] = "TempCheck";
}

<h1>Temparature after analys:</h1>


@if(ViewBag.Temp == 0)
{
    <p>You need to enter a temperature to get your result.</p>
}
@if(ViewBag.Temp != 0)
{
    <p>Your result is: @ViewBag.Result</p>
}




